<div class="container-title">
  <mat-icon style="font-size: 35px; width: 40px; height: 40px"
    >check_circle</mat-icon
  >
  <div>
    <p>Consultando</p>
    <span>Wiki API</span>
  </div>
</div>
<form (ngSubmit)="buscar()">
  <label for="busca" class="barra">
    <button type="submit">
        <mat-icon class="icones">search</mat-icon>
    </button>
    <input
      type="text"
      [(ngModel)]="termo"
      id="busca"
      name="termo"
      placeholder="Search"
    />
    <mat-icon class="icones">filter_list</mat-icon>
  </label>
  <small>Resultados encontrados: {{ qtd }}</small>
</form>
